
<a class="button" href="#vehicles">Back to Vehicles</a>

<h1>Add Vehicle</h1>

<form action="vehicles/add" method="post">

    <input 
        type="text" 
        name="make"
        placeholder="Make" />

    <input 
        type="text" 
        name="model"
        placeholder="Model" />

    <input 
        type="submit" 
        value="Submit" 
        onclick="submitForm(this); return false;" />

</form>

<script type="text/javascript">

    function submitForm(submitButton)
    {
        var form = $(submitButton).closest('form');

        var data = form.serializeObject();

        console.dir(data);

        Client.post(
            form.attr('action'),
            data,
            function (error, response)
            {
                if (error) throw error;

                console.dir(response);

                window.location.hash = 'vehicles';
            });

        return false;
    }

</script>