* {
  margin: 0px;
  padding: 0px; }

html {
  font-family: 'Segoe UI', sans-serif;
  font-size: 16px;
  color: #444; }

body {
  max-width: 900px;
  margin: 0px auto;
  padding-left: 5px;
  padding-top: 5px; }

h1, h2, h3, h4, h5, h6, h7, h8 {
  clear: left;
  padding-bottom: 5px;
  margin-bottom: 5px; }

p {
  clear: left;
  padding: 10px; }

a {
  text-decoration: none;
  color: darkorange; }

input[type=text], input[type=password] {
  display: block;
  float: left;
  font-size: 16px;
  border: solid 1px darkorange;
  border-radius: 20px;
  padding: 9px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 5px;
  margin-bottom: 5px;
  outline: none; }

a.button, input[type=submit] {
  display: block;
  float: left;
  color: #fff;
  cursor: pointer;
  border: none;
  font-size: 16px;
  background-color: darkorange;
  border-radius: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 5px;
  margin-bottom: 5px;
  outline: none; }
  a.button:hover, input[type=submit]:hover {
    background-color: orange; }

ul.action-list li {
  clear: left;
  list-style: none; }

ul.action-cloud li {
  float: left;
  list-style: none; }

