
$base-size: 5px;

$base-font-size: 16px;

*
{
	margin: 0px;
	padding: 0px;
}

html
{
	font-family: 'Segoe UI', sans-serif;
	font-size: $base-font-size;
	color: #444;
}

body 
{
	max-width: 900px;
	margin: 0px auto;
	padding-left: $base-size;
	padding-top: $base-size;
}

h1, h2, h3, h4, h5, h6, h7, h8
{
	clear: left;
	padding-bottom: $base-size;
	margin-bottom: $base-size;
}

p
{
	clear: left;
	padding: $base-size * 2;
}

a
{
	text-decoration: none;
	color: darkorange;
}

input[type=text], input[type=password]
{
	display: block;
	float: left;
	font-size: $base-font-size;
	border: solid 1px darkorange;
	border-radius: $base-size * 4;
	padding: $base-size * 2 - 1;
	padding-left: $base-size * 4;
	padding-right: $base-size * 4;
	margin-right: $base-size;
	margin-bottom: $base-size;	
	outline: none;
}

a.button, input[type=submit]
{
	display: block;
	float: left;
	color: #fff;
	cursor: pointer;
	border: none;
	font-size: $base-font-size;
	background-color: darkorange;
	border-radius: $base-size * 4;
	padding: $base-size * 2;
	padding-left: $base-size * 4;
	padding-right: $base-size * 4;
	margin-right: $base-size;
	margin-bottom: $base-size;
	outline: none;

	&:hover
	{
		background-color: orange;
	}
}

ul.action-list
{
	li
	{
		clear: left;
		list-style: none;
	}
}

ul.action-cloud
{
	li
	{
		float: left;
		list-style: none;
	}
}

